@media (min-width: 1000px) {
  .homework-main {
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    border-radius: 10px;
    padding: 2em;
    overflow-y: scroll; /* Hide scroll bars */
    touch-action: pan-y; /* Enable vertical scrolling on touch devices */
  }
  .homework-main::-webkit-scrollbar {
    display: none; /* Hide scrollbar for WebKit (Chrome, Safari, etc.) */
  }
  .homework-prompt {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .homework-prompt h3 {
    font-weight: 500;
    font-size: 18px;
  }
  .homework-prompt textarea {
    width: 100%;
    background-color: #eff1f7;
    border-radius: 10px;
    padding: 1em;
    min-height: 120px;
    box-sizing: border-box;
    border: 0;
  }
}
